body{
    max-width: 1200px;
    margin: auto;
    background-color: rgb(28, 48, 161);
  
}

header{
    text-align: center;
}

#banner{
    width: 800px;
    height: 250px;
    position: relative;
    background:-webkit-radial-gradient(circle farthest-side at right center, rgb(0, 0, 0) 0%, rgb(14, 0, 86) 80%);
    background:-o-radial-gradient(circle farthest-side at right center, rgb(0, 0, 0) 0%, rgb(14, 0, 86) 80%);
    background:-moz-radial-gradient(circle farthest-side at right center, rgb(0, 0, 0) 0%, rgb(14, 0, 86) 80%);
    background:radial-gradient(circle farthest-side at right center, rgb(0, 0, 0) 0%, rgb(14, 0, 86) 80%);
    box-sizing: border-box;
    margin: auto;
}

#bannerMove{
    display: flex;
    justify-content: space-between;
    padding: 85px;
}

#bannerMove div {
    width: 50px;
    height: 70px;
    background-color:rgb(255, 81, 0);
    animation: animation1 4s ease-in-out infinite alternate;
}

#bannerMove div:hover {
    transform:rotate(2475deg);
    background:-webkit-linear-gradient(90deg, rgb(0, 249, 255) 0%, rgb(233, 0, 255) 80%);
    background:-o-linear-gradient(90deg, rgb(0, 249, 255) 0%, rgb(233, 0, 255) 80%);
    background:-moz-linear-gradient(90deg, rgb(0, 249, 255) 0%, rgb(233, 0, 255) 80%);
    background:linear-gradient(90deg, rgb(0, 249, 255) 0%, rgb(233, 0, 255) 80%);
    transition: all 5s ease;
}

@keyframes animation1 {
    0%   {transform:scale(0.5);}
    33%  {transform:scale(2);}
    66%  {transform:scale(0.5);}
    100% {transform:scale(2);}
}

#container{
    display: flex;
    justify-content: center;
    padding: 25px;

}

#left{
    width: 266.6px;
    background-color: rgb(118, 148, 236);
}

#middle{
    width: 266.6px;
    background-color: rgb(211, 91, 175);
}

#right{
    width: 266.6px;
    background-color: rgb(63, 224, 224);
}

h1{
    margin: 28px auto;
    font-size: 48px;
    font-family: 'KoHo', sans-serif;
    color:rgb(255, 255, 255);
    text-align: left;
    max-width: 500px;
}

h2{
    font-size: 24px;
    margin: 20px auto;
    font-family: 'KoHo', sans-serif;
    color:rgb(255, 255, 255);
    text-align: center;
}

ul li {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 16px;
    list-style-type: none;
    display: block;
    color:white;
    margin: auto;
    padding: 6px;
    width: 130px;
}


ul li:hover {
    background: rgb(255, 215, 177);
}

footer{
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 15px;
    color:rgb(255, 255, 255);
    background:-webkit-radial-gradient(circle farthest-side at right center, rgb(0, 0, 0) 0%, rgb(14, 0, 86) 80%);
    background:-o-radial-gradient(circle farthest-side at right center, rgb(0, 0, 0) 0%, rgb(14, 0, 86) 80%);
    background:-moz-radial-gradient(circle farthest-side at right center, rgb(0, 0, 0) 0%, rgb(14, 0, 86) 80%);
    background:radial-gradient(circle farthest-side at right center, rgb(0, 0, 0) 0%, rgb(14, 0, 86) 80%);
    margin: auto;
    padding: 20px;
    margin-top: 30px;
    width: 800px;
  }