body{
    max-width: 1200px;
    margin: auto;
    background-color: rgb(28, 48, 161);
}

header{
    text-align: center;
}

#banner{
    width: 800px;
    height: 200px;
    position: relative;
    background:-webkit-radial-gradient(circle farthest-side at right center, rgb(0, 0, 0) 0%, rgb(14, 0, 86) 80%);
    background:-o-radial-gradient(circle farthest-side at right center, rgb(0, 0, 0) 0%, rgb(14, 0, 86) 80%);
    background:-moz-radial-gradient(circle farthest-side at right center, rgb(0, 0, 0) 0%, rgb(14, 0, 86) 80%);
    background:radial-gradient(circle farthest-side at right center, rgb(0, 0, 0) 0%, rgb(14, 0, 86) 80%);
    box-sizing: border-box;
    margin: auto;
}

h1{
    margin: 28px auto;
    padding-top: 65px;
    font-size: 48px;
    font-family: 'KoHo', sans-serif;
    color:rgb(255, 255, 255);
    text-align: left;
    max-width: 770px;
}

h2{
    font-size: 24px;
    font-family: 'KoHo', sans-serif;
    color:rgb(255, 255, 255);
    text-align: center;
}

h3{
    font-size: 14px;
    font-family: 'KoHo', sans-serif;
    color:rgb(255, 255, 255);
    text-align: center;
}

article {
    justify-content: center;
    padding: 25px;
    text-align: center;
    width: 600px;
    background-color: rgb(104, 137, 236);
    position: relative;
    margin: auto;
    margin-top: 45px;
    margin-bottom: 45px;

}

#first {
    margin-bottom: 25px;
}

#space {
    margin-bottom: 30px;
}

p {
    font-family: arial;
    font-size: 14px;
    display: block;
    color:white;
    margin: auto;
    padding: 12px;
    width: 455px;
    text-align: left;
    line-height: 24px;
}

figcaption {
    font-family: arial;
    font-size: 10px;
    display: block;
    color:white;
    margin: auto;
    text-align: center;
}

footer{
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 15px;
    color:rgb(255, 255, 255);
    background:-webkit-radial-gradient(circle farthest-side at right center, rgb(0, 0, 0) 0%, rgb(14, 0, 86) 80%);
    background:-o-radial-gradient(circle farthest-side at right center, rgb(0, 0, 0) 0%, rgb(14, 0, 86) 80%);
    background:-moz-radial-gradient(circle farthest-side at right center, rgb(0, 0, 0) 0%, rgb(14, 0, 86) 80%);
    background:radial-gradient(circle farthest-side at right center, rgb(0, 0, 0) 0%, rgb(14, 0, 86) 80%);
    margin: auto;
    padding: 20px;
    margin-top: 30px;
    width: 800px;
  }